{% extends 'base.html.twig' %}

{% block title %}Hello FootDataController!{% endblock %}

{% block body %}
{% for league in leagues %}
    {% if league.leagueId == 4608 %}
        <ul>
            <li>
                League ID: {{ league.leagueId }}<br>
                League Name: {{ league.leagueName }}<br>
                League Shortcut: {{ league.leagueShortcut }}<br>
                League Season: {{ league.leagueSeason }}<br>
            </li>
        </ul>
    {% endif %}
{% endfor %}
{% endblock %}
