{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}
{% block meta_description %}
    Réinitialisation de mot de passe
{% endblock %}

{% block body %}

{# ----------------- Section Center Start ---------------  #}
<section id="section-center">
    {#  ------------------- file d'ariane START ------------ #}
<div class="file-ariane mb-3">
    <a class="home-ariane" href="{{ path('app_home') }}">
        <iconify-icon class="icon" icon="ion:home-sharp" width="13" height="13"></iconify-icon>
        <span>Match&amp;Chill <span class="slash">/</span></span>
    </a>
    <span>Réinitialisation de mot de passe</span>
   
</div>
{#  ------------------- file d'ariane END ------------ #}

<div id="login-body">
    <div id="form-container">
        {{ form_start(formPasswordReset) }}
        <h1 class="h3 mb-3 text-center mx-auto">Réinitialisation de mot de passe</h1>
        <div class="form-group ">
            {{ form_row(formPasswordReset.plainPassword )}}
        </div>
            <button class="btn btn-lg btn-primary d-block mx-auto my-4" type="submit">
                Reinitialiser le mot de passe
            </button>
        {{ form_end(formPasswordReset)}}
    </div>
</div>
</section>



{% endblock %}