/* ---------star- ROOT ----------------------*/

:root {
    --blood-red: #9c001a;
    --pal-red: #e05b83;
    --sky-blue: #00A3DD;
    --bleu-navy: #161B35;
    --light: #f0f0f0;
    --gray: #616161;
    --dark : #080808;
    --fira-sans: 'Fira Sans', arial, sans-serif;
    --roboto: 'Roboto', 'Montserrat', sans-serif;
}
/* REST CSS*/
* , *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    font-size: 16px;
}

body {
    position: relative;
}

/*
    *File d'ariane
*/
.file-ariane {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.800rem;
    font-family: var(--roboto);
    background-color: var(--light);
}

.home-ariane, .events-ariane {
    color: var(--sky-blue);
    font-weight: 500;
}

.file-ariane .slash, .file-ariane p{
    color: var(--bleu-navy);
}

/* -------------- List of event ------------------------- */

.title-event {
    font-size: 1.3rem;
    font-family: var(--roboto);
    color: var(--light) !important;
    text-transform: uppercase;
    background-color: var(--bleu-navy);
    font-weight: 500;
    color: var(--bleu-navy);
    padding: 10px;
    border-radius: 5px;
}





/* -------- créer une evènement -----------*/
.add-event {
    display: block;
    width: fit-content;
    margin: 15px auto;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--pal-red);
    color: var(--light);
    font-family: var(--roboto);
    transition: all 0.25s ease-in-out;
}

.add-event:hover {
    background-color: var(--blood-red);
}

/* ----------  cARD EVENT   ---------*/


.card-event {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.178);
    transition: all 0.25s ease-in-out;
}

.card-event:hover {
    background-color: rgba(190, 188, 188, 0.082);
}

.card-detail {
    cursor: pointer;
}