/* ---------star- ROOT ----------------------*/

:root {
    --blood-red: #9c001a;
    --pal-red: #e05b83;
    --sky-blue: #00A3DD;
    --bleu-navy: #161B35;
    --light: #f0f0f0;
    --gray: #616161;
    --dark : #080808;
    --fira-sans: 'Fira Sans', arial, sans-serif;
    --roboto: 'Roboto', 'Montserrat', sans-serif;
}
/* REST CSS*/
* , *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
}

li {
    list-style: none;
}


.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

html {
    font-size: 16px;
}

body {
    position: relative;
}

/* Log buttons*/
.logs {
    display: flex;
    gap: 10px;
}
#logout, #login, #register, .button {
    font-family: var(--roboto);
    font-size: 0.700rem;
    font-weight: bold;
    color: var(--light);
    text-transform: uppercase;
    padding: 5px;
    border: 1px solid var(--light);
    border-radius: 5px;
    transition: all .3s;
}
#login {
    background-color: var(--sky-blue);
}

#logout, #register, .button {
    background-color: var(--pal-red);
}

#logout:hover, #register:hover, .button:hover  {
    background-color: rgb(189, 0, 0);
    border:1px solid #00a2dd00;
}

#login:hover {
    background-color: var(--light);
    border:1px solid #00a2dd00;
    color: var(--dark);
}

#logout:active, #login:active, #register:active, .button:active{
    scale: 0.9;
}

.button {
    font-size: 1rem;
}

.margin-auto {
    margin: 0 auto;
    width: fit-content;
}
/*---  DESKTOP HEADER ------*/

.top-bar, .top-bar .container {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

/*
    *File d'ariane
*/
.file-ariane {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.800rem;
    font-family: var(--roboto);
    background-color: var(--light);
}

.home-ariane, .second-ariane {
    color: var(--sky-blue);
    font-weight: 500;
}

.file-ariane .slash, .file-ariane p{
    color: var(--bleu-navy);
}

/*
    * Filters
*/
.filter-select {
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.filter-block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.filter-date, .filter-status, .filter-sort {
    width: 150px !important;
    display: inline-block !important;
}

.date-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}


/*
    * Section center
*/


/*------------- Championship Card  ----------------------------*/
.championship-card {
    font-family: var(--roboto);
    font-size: 0.800rem;
}

.championship-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: var(--bleu-navy) !important;
}

.championship {
    display: flex;
    align-items: center;
}


.championship-head span {
    color: var(--light);
    text-transform: uppercase;
   
}

.match-id, .team-id {
    display: none;
}
.match-infos p {
   margin-bottom: 2px !important;
}

.match-infos {
    padding: 0 5px !important;
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
}


.favorite-match, .options {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.status {
    padding: 0 10px;
}

.match-time {
    font-size: .65rem;
}


.versus {
    flex: 1;
    cursor: pointer;
    text-align: center;
}

.dom, .ext {
    font-size: 0.9rem;
}

.goal-number {
    font-weight: bold;
}

.comments-match, .match-events {
    cursor: pointer;
}

.number-comments, .number-events {
    display: inline-block;
    vertical-align: center;
    color: var(--blood-red);
    font-size: .55rem;
    font-weight: 600;
}


/*
    *Match detail--------------------------
*/

#match-card {
    max-width: 700px;
    margin: 0 auto;
}
.match-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .team-logo {
    width: 50px; /* Adjust as necessary */
    height: 50px; /* Adjust as necessary */
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .team-name {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .match-info {
    text-align: center;
  }
  
  .match-date-time {
    font-size: 14px;
    color: var(--bleu-navy);
  }
  
  .scoreboard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
  
  .score {
    font-size: 36px;
    color: var(--bleu-navy);
    font-weight: bold;
  }
  
  .dash {
    margin: 0 5px;
  }
  
  .match-status {
    font-size: 14px;
    color: var(--bleu-navy);
    background-color: #eee;
    padding: 2px 8px;
    border-radius: 5px;
  }
  

  /*
    Card match detatis nav ---------------------------------*
  */

#match-nav {
   padding: 20px 0; 
}

.match-nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0;
    margin: 0;
    gap: 10px;
}


.match-nav-item a {
    color: var(--bleu-navy);
    text-transform: uppercase;
    padding: 5px 10px;
    border: 1px solid rgba(245, 245, 220, 0);
    transition: all .3s linear;
}

.match-nav-item:hover a {
    background-color: #eee;
    border: 1px solid rgb(180, 180, 180);
}

/*
    * Discussion Match
*/

/* ------------------ pagination ----------------------------*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 10px 0;
}

.pagination a, .pagination span {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--bleu-navy);
    font-size: 14px;
    width: fit-content;
}

.pagination a {
    background-color: #e0e0e0;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #c0c0c0;
}

.current-info {
    background-color: #a7ccda48;
    color: var(--bleu-navy);
    border-radius: 5px;
}


/* messege textarea --------------------------------------*/
.user-card {
    display: flex;
    flex-direction: column;

}
.post-message {
    background-color: #f9f9f9;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.post-form {
    flex-grow: 1; /* prend tout l'espace disponible */
    flex-shrink: 1; /* permet de rétrécir si nécessaire */
    flex-basis: auto; /* commence sans largeur propre, grandit selon l'espace disponible */
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

textarea {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

button {
    align-self: center;
    width: fit-content;
    padding: 10px 20px;
    background-color: #569c56;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}
  
.content button {
    align-self: center;
    width: fit-content;
    padding: 10px 20px;
    background-color: #d6d844;
    color: var(--bleu-navy);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 2px;
}

.content button:hover {
    background-color: #e5e91a;
}

/*--------------------- Discution -------------------*/
.discussion {
    width: 100%;
}

.post-message {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}

.user-card{
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.message {
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

.avatar {
    width: 50px; /* Taille de l'avatar */
    height: 50px;
    border-radius: 50%; /* Rend l'avatar circulaire */
}

.content {
    flex-grow: 1;
}

.user-name {
    font-weight: bold;
    color: #333;
}

.text {
    min-height:50px;
    height: fit-content;
    min-width: 200px;
    width: 100%;
    box-shadow: 0 0 5px -2px var(--bleu-navy);
    color:var(--bleu-navy);
    padding: 10px;
}

.time {
    font-size: 0.8em;
    color: #999;
}

.content-option {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.answer {
    cursor: pointer;
}

.signal-form label{
    color: var(--blood-red);
}