/* GLOBAL */
/* ---------- ROOT ----------------------*/

:root {
    --blood-red: #9c001a;
    --pal-red: #e05b83;
    --sky-blue: #00A3DD;
    --bleu-navy: #161B35;
    --light: #f0f0f0;
    --gray: #616161;
    --dark : #080808;
    --fira-sans: 'Fira Sans', arial, sans-serif;
    --roboto: 'Roboto', 'Montserrat', sans-serif;
}

/* REST CSS*/
* , *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

html {
    font-size: 16px;
}

body {
    position: relative;
}

#header-home {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.445);
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/* ---------------------Log buttons -------------------------------*/
.logs {
    display: flex;
    gap: 10px;
}
.logs span {
    color: var(--light);
}
#logout, #login, #register, .button {
    font-family: var(--fira-sans);
    font-size: 0.700rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 5px;
    border: 1px solid var(--light);
    border-radius: 5px;
    transition: all .3s;
}
#login {
    background-color: var(--sky-blue);
}

#logout, #register, .button {
    background-color: var(--pal-red);
}

#logout:hover, #register:hover, .button:hover  {
    background-color: rgb(189, 0, 0);
    border:1px solid #00a2dd00;
}

#login:hover {
    background-color: var(--light);
    border:1px solid #00a2dd00;
    color: var(--dark);
}

#logout:active, #login:active, #register:active, .button:active{
    scale: 0.9;
}

.button {
    font-size: 1rem;
}

.margin-auto {
    margin: 0 auto;
    width: fit-content;
}

/*--------------------PERSONNALISATION --------------------*/
/*Colonnes*/
.col-6{
    width: 50%;
}

/*
    * BUTTONS
*/

.cta-home {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 30px;
    color: var(--light);
    font-family: var(--roboto);
    text-transform: uppercase;
    background-color: var(--pal-red);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: all .2s linear;
}

.cta-home:hover {
    background-color: var(--blood-red);
}
.cta-home:active {
    scale: 0.9;
}

/* -------------- DESKTOP------------------- */

/*---  DESKTOP HEADER ------*/

.top-bar, .top-bar .container {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

/* Nav-bar */

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.list-item a {
    font-family: var(--roboto);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8125rem;
    color: var(--light);
    padding: 10px;
    border-radius: 5px;
    transition: all .2s linear;
    
}

.list-item a:hover {
    background-color: var(--light);
    color: var(--dark);
}
.list-item:active {
    scale: 0.9;
}

.burger, .burger-close {
    display: none;
}

/*---- DESKTOP MAIN -------------------*/
body, html {
    overflow: hidden;
}

#main {
    display: flex;
    flex-direction: column;
    height: 400%;
    overflow-y: hidden;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fade-in-section {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
.text-justify {
    text-align: justify !important;
}

.articles-home {
   color: var(--light);
}

.articles-home {
    margin: 100px 0 50px 0;
}

.heading-home {
    font-family: var(--fira-sans);
    font-size: 6vh;
    color: inherit;
    font-weight: 800;
    text-transform: uppercase;
    padding: 50px 0;
}

.text-home {
    font-family: var(--fira-sans);
    color: inherit;
    font-size: 3vh;
    line-height: 1.1;
    text-transform: uppercase;
    padding: 20px 20px 20px 0;
}

.text-access {
    color: var(--pal-red);
    font-weight: 600;
}
/*------ASIDE SCROLL HELPER-------------*/

#smooth-scroll {
    position: fixed;
    right: -121.58px;
    top: 35%;
    z-index: 1000;
    width: fit-content;
    font-family: var(--roboto);
    font-weight: 600;
    background-color: #0a0a0aa1;
    transition: all .3s linear;
}
#smooth-scroll:hover {
    right: 0;
}
.scroll-list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.nav-link {
    color: var(--gray);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all .3s linear;
}

.scroll-items:hover .nav-link, .scroll-items:hover .iconify,
.nav-link.active, .iconify.active {
    color: var(--light);
}


.iconify {
    color: #616161;
    transition: all .3s linear;
}

/* Style pour la classe active */
.active {
    color: red; /* Choisissez la couleur ou le style souhaité */
    font-weight: bold;
}


/*---- DESKTOP MAIN SECTION MATCHS -------------------*/
#matchs {
    background: linear-gradient(rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0.356)), url('../images/home1.jpg') 100% 40%/ cover no-repeat;
}


/* ---------------------COUNTER Desktop----------------------*/
.counter-container {
    width: fit-content;
    margin: 0   auto;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    font-family: var(--roboto);
    color: var(--light);
    text-transform: uppercase;
  }
  
  .circle {
    width: 165px;
    height: 165px;
    border: 1px solid var(--light);
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
.counter {
    display: block;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .circle small {
    display: block;
    margin-top: 5px;
    font-size: 1rem;
  }


/*---- DESKTOP MAIN SECTION EVENTS -------------------*/
#events {
    background: url('../images/event.jpg') center center / cover no-repeat;
}

.slogan {
    font-size:1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}

/*---- DESKTOP MAIN SECTION COMMUNITY -------------------*/
#community {
    background: url('../images/community.jpg') center center / cover no-repeat;
}
/*---- DESKTOP MAIN SECTION ABOUT -------------------*/
#about {
    background: url('../images/about_us.jpg') center center / cover no-repeat;
    position: relative;
}



/** ----------------------- FOOTER ------------------------------------ **/

#footer-home {
    background-color: var(--bleu-navy);
    width: 100%;
    position:absolute;
    bottom: 0;
    padding: 20px 10px;
}

#footer-home .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20pxpx;
}


#footer-home  .media-list-footer {
    padding: 0;
    margin: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

#footer-home .container p {
    color: var(--light);
}

/* ---------- MOBILE ----------------------*/
/* ------ Largeur maximal de l'écran 800px ------------*/
@media (max-height: 800px) {
    body, html {
        overflow: auto;
    }
    #main {
        display: block;
        height: 400%;
        overflow-y: auto;
    }
    section {
        height: 100%;
        display: block;
        overflow: auto;
    }
}

/* ---------------- Largeur maximal de l'écran 1030px -----------------------*/
@media (max-width: 1030px) {

    body, html {
        overflow: auto;
    }
    
    #main {
        display: block;
        height: 400%;
        overflow-y: auto;
    }
    section {
        height: 100%;
        display: block;
        overflow: auto;
        
    }

    /* HEADER */
    /* Burger menu*/
    .burger {
        display: flex;
        flex-direction: column;
        background-color: #ffffff00;
        border: none;
        width: 30px;
        gap: 5px;
        cursor: pointer;
    }
    .burger span {
        width: 100%;
        height: 5px;
        background-color: var(--light);
    }

    .burger-close {
        background-color: #ffffff00;
        margin-left: auto;
        border: none;
        width: 30px;
        height: 25px;
        position: relative;
        cursor: pointer;
    }
    .burger-close span:first-child {
        position: absolute;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: var(--pal-red);
        transform: rotate(45deg);
    }
    .burger-close span:last-child {
        position: absolute;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: var(--pal-red);
        transform: rotate(-45deg);
    }

    /* Nav-bar => Overlay */
    .nav-bar {
        position: fixed;
        z-index: 1;
        width: 100%;
        max-width: 350px;
        top: -100%; /* Placez initialement la nav-bar en dehors de la vue */
        left: 0;
        background-color: #080808ea;
        opacity: 0; /* Initial opacity à 0 */
        transition: top 0.5s ease, opacity 0.5s ease; /* Utilisez la transition pour "top" et "opacity" */
    }

    .nav-toggle {
        top: 0; /* Affichez la nav-bar par le haut lorsque la classe "nav-toggle" est appliquée */
        opacity: 1; /* Opacity à 1 pour montrer la nav-bar */
    }


    .nav-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }
    
    /* -------------------- MAIN --------------------*/
    #smooth-scroll:hover {
        right: -121.58px;
    }

}



/* -------------------- MAIN --------------------*/



/* --------------------- FOOTER -------------------*/













/* --------------------- DESKTOP -------------------*/



/* ----------------- HEADER --------------------*/




/* -------------------- MAIN --------------------*/



/* --------------------- FOOTER -------------------*/

