{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="sigle-tilte">Mon Compte</h1>

    <div class="row">
        <p>Pseudo : </p>
    </div>
        

</div>

{% endblock %}