{% extends 'base.html.twig' %}

{% block title %}Page admin{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center single-title">Page admin</h1>
        <h2 class="single-title h3">Liste des Utilisateurs</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Pseudo</th>
                <th scope="col">Emain</th>
                <th scope="col">
                    {% if user.isBanned %}
                        <a href="" class="btn-primary">débloquer</a>
                        {% else %}
                        <a href="" class="btn-primary">débloquer</a>
                        
                    {% endif %}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
