{% extends 'forum/index.html.twig' %}


    {% block title %}
        {% if categoryForumId %}
            Modifier la categorie du forum
            {% block <meta_description %}
            Modifier la categorie du forum
            {% endblock %}
        {% else %}
            Créer une nouvelle categorie du forum
                {% block <meta_description %}
                Créer une nouvelle categorie du forum
                {% endblock %}
        {% endif %}
    {% endblock %}

{% block body %}
    {% if categoryForumId %}
        <h2 class="text-center">Modifier la categorie</h2>
    {% else %}
        <h2 class="text-center">Créer une nouvelle categorie</h2>
    {% endif %}
{% endblock %}